doctype html
html
  head
    link(rel='favicon', sizes='128x128', href='../public/favicon.ico')
    link(rel='apple-touch-icon' href='../public/favicon.ico')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(defer, src="/javascripts/bundle.js")
  body
    block content
