extends layout

block content
  h2 新規キャラクター作成
  form(method="post" action="/character")
    input(type="hidden" name="_csrf" value!=csrfToken)
    div 
      input(type="text" name="charaName")
    div  
      br
      button(type="submit") 登録完了