extends layout

block content
  h2 新規キャラクター作成
  form(method="post" action="/newchara")
    div 
      textarea(name="charaname" cols="30" rows="1")
    div  
    p Select your policy 
      select(name="policy" method="post")
        option(value="食えるものは食べる") 食えるものは食べる
        option(value="Y字路は右に進む") Y字路は右に進む
        option(value="ピンチはチャンスだと思う") ピンチはチャンスだと思う 
      button(type="submit") OK  