extends layout 

block content 
  div.border.border-dark
    h2 #{cn}さんの物語
      each episode_body in  episode_bodys
        div.card#episode_body #{episode_body}
        hr 
    a(href='/').btn.btn-secondary キャラクター一覧に戻る