body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/bunko.png');
  background-size: auto;
  background-position: center;
  font-family: "ヒラギノ明朝";
}

a {
  color: maroon;
  text-decoration:underline;
}

#episode_body {
  text-indent: 1rem;
}

.btn-info {
  background: #FF9999;
}

#archive {
  text-indent: 1rem;
  background-color: white;
}